.body {
    width: 350px;
    height: 500px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: #60a3bc;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}