button {
    border: 1px solid black;
    background-color: #f39c12;
    font-size: 26px;
    color: white;
    font-weight: bold;
    outline: none;
    border-radius: 5px;
}

button:hover {
    background-color: pink;
}

.zero {
    grid-column: 1/3;
}